.blogDetailImgBox{
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}

.blogDetailImg{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}