
.styled-table {
    /*border-collapse: collapse;*/
    margin: 25px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    width: 100%;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


.table-image {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;

}


.table-hero{
    display: flex;
    justify-content: space-between;
    & h6 {
        font-weight: bold !important;
        font-size: large;
    }

    & button{
        border: none;
        outline: none;
        background-color: transparent;
    }

    & button:hover{
        border: none;
        outline: none;
        cursor: pointer;
        color: #196e21;
    }
}